html {
    color: #222;
}

#content {
    padding: 38px 8px 8px;

    &.loading {
        opacity: 0.5;
    }
}

#loader {
    margin: auto;
    z-index: 999;

    position: fixed;
    left: 0;
    right: 0;
    top: 48px + 28px;
}

.libra-file-list {
    .mdl-cell {
        .libra-file-list-item.mdl-card {
            min-height: 100px;
            width: 100%;
        }
    }
}

.libra-file-show {
    padding: 48px;
}

.libra-login {
    padding: 48px;
}
