<div class="mdl-grid">

  <div class="mdl-cell
              mdl-cell--2-col
              mdl-cell--hide-tablet
              mdl-cell--hide-phone"></div>

  <div class="libra-file-show
              mdl-color--white mdl-shadow--4dp
              mdl-cell
              mdl-cell--8-col
              mdel-cell--10-col-desktop
              mdel-cell--8-col-tablet
              mdel-cell--4-col-phone">
    {{{content}}}
  </div>
</div>
