<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Libra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="content" class="page-content">
      {{{body}}}
    </div>

    <script src="/js/bundle.js"></script>
  </body>
</html>
