<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Libra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <div>
        <span>Libra</span>
        <nav>
          <a href="/">Home</a>
          <a href="/files">List</a>
        </nav>
      </div>
    </header>

    <div id="content" class="page-content">
      {{{body}}}
    </div>

    <script>
      window.data = {
        app: {{json appDate}},
        bootstrapData: {{json bootstrappedData}}
      };
    </script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
